# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\The-Prestige-4-1\Computer-Security-Sessional-cse-406\AES-offline-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
